# Maven
# Build your Java project and run tests with Apache Maven.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/java
# This is an example of using VeraDemo Java test application with the Veracode Static Pipeline scanner.  A Veracode subscription is required.
trigger:
- main
pool:
  name: Default

steps:
     - task: Maven@4
       inputs:
         mavenPomFile: 'app/pom.xml'
         publishJUnitResults: true
         testResultsFiles: '**/surefire-reports/TEST-*.xml'
         javaHomeOption: 'JDKVersion'
         mavenVersionOption: 'Default'
         mavenAuthenticateFeed: false
         effectivePomSkip: false
         sonarQubeRunAnalysis: false
     - task: Veracode@3
       inputs:
         ConnectionDetailsSelection: 'Service Connection'
         AnalysisService: 'Veracode API'
         veracodeAppProfile: 'ADO-Test'
         version: '$(build.buildNumber)'
         filepath: 'app/target/verademo.war'
         sandboxName: 'Live-Test'
         createSandBox: true
         optargs: 'logfilepath ./veracode_scan.txt'
         createProfile: true
         failBuildIfUploadAndScanBuildStepFails: true
         importResults: true
         maximumWaitTime: '360'
         
     -  task: PublishBuildArtifacts@1
        inputs:
          artifactName: 'veracode_scan.txt'
          pathToPublish: '$(System.DefaultWorkingDirectory)/veracode_scan.txt'
        displayName: 'Publish veracode_scan.txt Artifact'
        
     -  script: |
           PASS=$(cat veracode_scan.txt | jq -r '."deleteincompletescan"' )
            #PASS='passed'
           echo "Passed policy: $PASS"
            if [ $PASS == 'false' ]
            then
              exit 1
            else
              exit 0
            fi 